@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;

    --color-base-black: black;
    --color-base-white: white;
    
    --color-01:#F9F4FB;
    --color-02:#B52184;
    --color-03:#312D64;
    --gradient-bg: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

html, body, input {
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-01);
    color: var(--color-03);
}

header {
    width: 100%;
    padding: 0 3.4rem 9.3rem 3.2rem;

    display: grid;
    place-items: center;
    height: auto;
}

header img {
    width: 100%;
    
    animation-name: topDown;
    animation-delay: 200ms;
    animation-duration: 700ms;
}

.tittle {
    animation-name: downTop;
    animation-delay: 200ms;
    animation-duration: 700ms;
}

h1 {
    color: var(--color-02);

    font-size: 3.2rem;
    font-weight: 900;

    width: 100%;
    text-align: center;

    margin: 2rem 0 0.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;

    width: 100%;
    text-align: center;

    margin-bottom: 3.5rem;
}

.arrow-button {
    margin: auto;

    width: 5.8rem;
    height: 10rem;
    transition: filter 300ms; 
}

.arrow-button:hover {
    filter: brightness(0.7);
}

main section {
    background: var(--gradient-bg);
    padding: 5.2rem 3rem;

    display: grid;
    gap: 5rem;
}

.card {
    background-color: var(--color-base-white);

    padding: 2.6rem;
    border-radius: 2rem;

    animation-name: topDown;
    animation-delay: 200ms;
    animation-duration: 700ms;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 700ms;
}

.card img {
    width: 8rem;
    margin-bottom: 3.3rem;

    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.card img:hover {
    animation-play-state: paused;
}

.card h3 {
    color: var(--color-02);
    font-size: 2.9rem;
    font-weight: 900;

    margin-bottom: 2rem;
}

.card p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    width: 26.5rem;
    width: 100%;
}

#my-form {
    padding: 7.8rem 3.9rem 6.5rem 4.3rem;
}

fieldset {
    border: none;
}

legend {
    color: var(--color-02);
    font-size: 3.2rem;
    font-weight: 900;

    margin-bottom: 4.3rem;
}

.input-wrapper {
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.input-icon i {
    color: var(--color-02);
    font-size: 2rem;
}

input, textarea {
    color: var(--color-03);

    width: 100%;

    padding: 1.2rem 1.6rem 1.2rem 1.4rem;

    border-radius: 1.6rem;
    border: 0.15rem solid var(--color-03);

    font-size: 1.6rem;
    font-weight: 600;
}

input::placeholder, textarea::placeholder {
    color: #312D64;;
    font-weight: 600;
    font-size: 1.6rem;
}

input::placeholder {
    padding-left: 3rem;
}

button {
    background: var(--gradient-bg);
    color: var(--color-base-white);
    font-size: 1.4rem;
    font-weight: 700;

    padding: 1.6rem;
    border: none;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: filter 200ms;
}

button:hover {
    filter: brightness(0.9);
}

footer {
    background: var(--gradient-bg);
    padding: 1.6rem;
}

footer p {
    color: var(--color-base-white);
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
}

/* KEYFRAMES DAS ANIMAÇÕES */

@keyframes topDown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downTop {
    0% {
        opacity: 0;
        transform: translateY(+15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
