@charset "UTF-8";

:root {
    --text-color-0: #2F2E41;
    --text-color-1: #00BFA6;
    --text-color-2: #C2C2C2;
    --text-color-3: #FFFFFF;
}

body {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    background-color: var(--text-color-0);
    margin: 0;
    min-height: 100vh;
}

#page {
    width: 1092px;
    margin: 0 auto;
    padding-top: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

ul {
    display: flex;
    gap: 64px;

    margin: 0;
    padding: 0;

    list-style: none;
}

nav > ul > li > a {
    color: var(--text-color-3);
    text-decoration: none;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

h1 {
    color: var(--text-color-3);
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;

    margin: 0px 0px 60px;
    width: 614px;
    text-align: center;
}

h1 > span {
    color: var(--text-color-1);
}

section > p {
    color: var(--text-color-2);
    font-family: 'Open Sans', sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    width: 604px;
    text-align: center;
}

section > p > strong > span {
    color: var(--text-color-1);
}

#cadeado {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
}

#line {
    border: 1px solid var(--text-color-1);
    width: 568px;
    margin: 0px auto 25px;
}

footer {
    text-align: center;
    margin: 125px 0px 25px;
}

footer > a {
    color: var(--text-color-3);
    text-decoration: none;
}