@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-primary: 'Roboto', sans-serif;

    --color-base-black: black;
    --color-base-white: white;

    --text-color: #E1E1E6;
    --input-color: #06181C;
    --button-color: #065E7C;

    --head-list-color: #043444;

    --row-list-color-01: rgb(6, 24, 28);
    --row-list-color-02: rgba(6, 24, 28, 0.5);

    --border-list: #4A808C;
    --scroll-color: #4A808C;
    --remove-color: #F75A68;
}

body {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    background-color: var(--color-base-black);
    color: var(--text-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    padding: 11.5rem 11.6rem;
    max-width: 112rem;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 8.5rem;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 4.8rem;
    border: none;
    border-radius: .5rem;
    padding: 1.6rem;
    width: 40rem;

    background-color: var(--input-color);
}

.search button {
    background-color: var(--button-color);
    color: var(--color-base-white);

    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

    height: 4.8rem;
    border: none;
    border-radius: .5rem;

    padding: 1.2rem 3.2rem;
    margin-left: .8rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .8rem;

    text-transform: uppercase;
}

.search button.white {
    background-color: var(--color-base-white);
    color: var(--button-color);
}