@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-primary: 'Roboto', sans-serif;

    --color-base-black: black;
    --color-base-white: white;

    --text-color: #E1E1E6;
    --text-color-alternative: #4E5455;
    --input-color: #06181C;
    --button-color: #065E7C;

    --head-list-color: #043444;

    --list-color: rgb(3, 11, 13);
    --row-list-color-01: rgb(6, 24, 28);
    --row-list-color-02: rgba(6, 24, 28, 0.5);

    --border-list: #4A808C;
    --scroll-color: #4A808C;
    --remove-color: #F75A68;
}

body {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    background-color: var(--color-base-black);
    color: var(--text-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    padding: 11.6rem;
    max-width: 112rem;
    margin: 0 auto;
    width: 90%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 6rem;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    color: var(--text-color);
    height: 4.8rem;
    border: none;
    border-radius: .5rem;
    padding: 1.6rem;
    width: 40rem;

    background-color: var(--input-color);
}

.search button {
    background-color: var(--button-color);
    color: var(--color-base-white);

    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

    height: 4.8rem;
    border: none;
    border-radius: .5rem;

    padding: 1.2rem 3.2rem;
    margin-left: .8rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .8rem;

    text-transform: uppercase;
    transition: all .1s;
}

.search button:hover {
    background-color: var(--color-base-white);
    color: var(--button-color);
    background-image: url(assets/star-blue.svg) no-repeat left;
}

.thead {
    background-color: var(--head-list-color);

    border: 0.1rem solid var(--border-list);
    border-bottom: 0;
    border-radius: 1.2rem 1.2rem 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thead div {
    font-size: 1.8rem;

    text-align: left;
    font-weight: bold;
    padding: 1.6rem 2.4rem 1.6rem 4rem;
}

.thead div:nth-child(1) {
    width: 50rem;
}

.thead div:nth-child(2) {
    width: 22rem;
}

.thead div:nth-child(3) {
    width: 22rem;
}

.thead div:nth-child(4) {
    width: 17.8rem;
}

.table-wrapper {
    max-height: 50rem;
    overflow-y: auto;
    border: 0.1rem solid var(--border-list);
    border-top: none;
    border-radius: 0 0 1.2rem 1.2rem;
}

table {
    background-color: var(--list-color);
    width: 100%;
    border-collapse: collapse;

    font-weight: 700;
}

.noFav {
    color: var(--text-color-alternative);
    background-color: var(--list-color);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    height: 50rem;
    border: 0.1rem solid var(--border-list);
    border-top: 0;
    border-radius: 0 0 1.2rem 1.2rem;
}

tbody tr:nth-child(even) {
    background-color: var(--row-list-color-01);

    border: 0.1rem solid var(--border-list);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

tbody tr:nth-child(odd) {
    background-color: var(--row-list-color-02);

    border: 0.1rem solid var(--border-list);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

tbody tr:nth-child(1) {
    border-top: 0;
}

tbody td:nth-child(1) {
    width: 40rem;
}

tbody td:nth-child(2) {
    width: 22rem;
    padding-right: 5rem;
}

tbody td:nth-child(3) {
    width: 22rem;
}

tbody td:nth-child(4) {
    width: 17.8rem;
}

tbody td {
    padding: 2.4rem 4rem;
    text-align: left;
}

tbody td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

td.user img {
    width: 5.6rem;
    height: 5.6rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    color: var(--text-color);
    text-decoration: none;
    line-height: 2.5rem;
}

td.user p {
    font-weight: bold;
    font-size: 1.6rem;
    font-weight: 700;
}

td.user span {
    font-weight: 400;
}

td .remove {
    background: none;
    border: none;

    color: var(--remove-color);

    cursor: pointer;

    font-weight: 700;
}

::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 1rem;
    border: .2rem solid black;
}