/*Aplicar quando a tela for maior ou igual a 1200*/
@media (min-width: 1200px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;

        padding: 0 3rem 10rem;
        max-height: 83.6rem;
    }

    header img {
        max-width: 71.9rem;
        max-height: 73.2rem;
    }

    .tittle{
        margin-top: 30rem;
    }

    h1 {
        font-size: 5.8rem;
        font-weight: 900;
    }

    h2 {
        font-size: 3.2rem;
        font-weight: 600;
        margin-bottom: 17.9rem;
    }

    .arrow-button {
        margin: 0;
        justify-content: flex-end;
    }

    main section {
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem;
        padding: 6.4rem 11.1rem;
    }

    .card {
        border-radius: 2.4rem;
    }

    .card img {
        width: 9.7rem;
        margin-bottom: 4rem;
    }

    #my-form {
        background: url(assets/img/effects.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }

    input, textarea {
        width: 50%;
    }
}