@media (min-width: 1120px) {
    #app {
        background-color: #F4FCFF;
        min-width: 100vw;
    }

    main {
        padding: 4rem 0 4rem;
    }

    main .container {
        padding: 0 12rem;

        display: grid;
        grid-template-columns: 2fr 1fr;
        
        gap: 3.4rem;
    }

    .article {
        padding: 4rem auto 4rem;
    }

    .article img {
        background-image: url(../assets/imagem-gato-grande.jpg);
    }

    img#phone {display: none;}
    img#desktop {display: block;}
}