@charset "UTF-8";

:root {
    --text-color-0: #2F2E41;
    --text-color-1: #00BFA6;
    --text-color-2: #C2C2C2;
    --text-color-3: #FFFFFF;
}

body {
    color: white;
    background-color: var(--text-color-0);
}

