@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font-family: 'Dancing Script', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

:root {
    font-size: 62.5%;

    --color-base-black: black;
    --color-base-white: white;
    --color-bg: linear-gradient(45deg, #190361 0%, #BB00FF 100%);

    --color-01: #34355B;
    --color-02: #E4EDF1;
    --color-03: #FF9500;
    --color-04: #e08403;
}

body {
    background: var(--color-bg);
    font-size: 1.6rem;

    display: grid;
    place-items: center;
    height: 100vh;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
}

.hide {
    display: none;
}

main {
    background: var(--color-base-white);
    border-radius: .5rem;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

    width: min(42.8rem, 90%);
    padding: 4.8rem 6.4rem 6.4rem 4.8rem;
    margin-top: -5rem;

    text-align: center;
}

.screen1 img {
    cursor: pointer;
}

.screen1 img:hover {
    animation: shake .2s;
    animation-iteration-count: 4;
}

@keyframes shake {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

/* screen-1 */

h1 {
    color: var(--color-01);
    font-size: 2.4rem;
    font-weight: 700;

    margin-bottom: 1.4rem;
}

p {
    color: var(--color-01);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    margin-bottom: 2.6rem;
    }

/* screen-2 */

section {
    background-color: var(--color-02);
    padding: 1rem;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);

    margin-bottom: 6rem;
}

section p {
    color: var(--color-base-black);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    margin: auto;
}

button {
    color: var(--color-base-white);
    background-color: var(--color-03);

    border: none;
    border-radius: .4rem;
    padding: 1.6rem;
    margin-top: 6rem;

    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background-color: var(--color-04);
}
